In [70]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [71]:
marketing_costumer = pd.read_csv(r"C:\Users\Utilizador\Desktop\Ironhack 2\LabRoundFinal\lab-customer-analysis-final-round\files_for_lab\csv_files\marketing_customer_analysis.csv")
marketing_costumer

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [72]:
cols = []
for i in range(len(marketing_costumer.columns)):
    cols.append(marketing_costumer.columns[i].lower().replace(' ', '_')) 
marketing_costumer.columns = cols

In [73]:
marketing_costumer

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [74]:
marketing_costumer.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [75]:
marketing_costumer.drop_duplicates()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [76]:
numericals = marketing_costumer.select_dtypes(include=['float64', 'int64'])
numericals

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

In [77]:
categoricals = marketing_costumer.select_dtypes('object')
categoricals

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [78]:
numericals.drop(['months_since_last_claim', 'months_since_policy_inception','number_of_open_complaints', 'number_of_policies'], axis=1,inplace=True)

In [79]:
numericals.columns

Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'total_claim_amount'],
      dtype='object')

In [80]:
categoricals.drop(['customer','effective_to_date', 'response', 'vehicle_size','policy' ],axis = 1, inplace = True)

In [81]:
categoricals.columns

Index(['state', 'coverage', 'education', 'employmentstatus', 'gender',
       'location_code', 'marital_status', 'policy_type', 'renew_offer_type',
       'sales_channel', 'vehicle_class'],
      dtype='object')

In [82]:
numericals['income'] = numericals['income'].replace(0, numericals['income'].mean())

In [83]:
for col in categoricals.columns:
    categoricals[col]=LabelEncoder().fit(categoricals[col]).transform(categoricals[col])
    
    #This code is transforming categorical data in each column of the "categoricals" DataFrame into numerical format using label encoding. It replaces categorical values with unique numerical labels

In [84]:
marketing_costumer = pd.concat([numericals, categoricals], axis=1)

In [85]:
marketing_costumer

,customer_lifetime_value,income,monthly_premium_auto,total_claim_amount,state,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,renew_offer_type,sales_channel,vehicle_class
0,2763.519279,56274.000000,69,384.811147,4,0,0,1,0,1,1,0,0,0,5
1,6979.535903,37657.380009,94,1131.464935,0,1,0,4,0,1,2,1,2,0,0
2,12887.431650,48767.000000,108,566.472247,2,2,0,1,0,1,1,1,0,0,5
3,7645.861827,37657.380009,106,529.881344,1,0,0,4,1,1,1,0,0,2,3
4,2813.692575,43836.000000,73,138.130879,4,0,0,1,1,0,2,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941.000000,73,198.234764,1,0,0,1,1,2,1,1,1,3,0
9130,3096.511217,21604.000000,79,379.200000,1,1,1,1,0,1,0,0,0,1,0
9131,8163.890428,37657.380009,85,790.784983,1,1,0,4,1,1,2,0,0,1,0
9132,7524.442436,21941.000000,96,691.200000,1,1,1,1,1,1,1,1,2,1,0
9133,2611.836866,37657.380009,77,369.600000,1,1,1,4,1,1,2,0,3,2,5

In [104]:
X = marketing_costumer.drop(['total_claim_amount'],axis = 1)
Y = marketing_costumer[['customer_lifetime_value','total_claim_amount', 'income', 'monthly_premium_auto','state','education']]

In [105]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.8, random_state=140)

In [106]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

model.score(X_train,y_train)  


predictions = model.predict(X_test)  
predictions

print("R2 value is =",(r2_score(y_test,predictions),))
print ("The intercept of the model is =",lm.intercept_)
print ("the coefficients of the model are =", lm.coef_)
from sklearn.metrics import mean_absolute_error
mse = mean_squared_error(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
print("The mse of the model is = ",mse)
print("The root mse of the model is = ",np.sqrt(mse))
print("The mean absolute error of the model is = ",mae)

R2 value is = (0.9326973033727478,)
The intercept of the model is = [ 6.36646291e-12 -2.67595754e+02 -7.27595761e-12 -1.70530257e-12
  1.19904087e-14 -8.88178420e-15]
the coefficients of the model are = [[ 1.00000000e+00  7.44113919e-17  3.86190907e-15 -1.65439168e-13
  -2.97947721e-13 -1.26132492e-13  1.32679091e-13 -4.04148730e-13
  -3.24346208e-14 -1.76354774e-14 -7.59419907e-14 -4.13626619e-13
   2.40831473e-13  6.84742091e-14]
 [ 6.43417533e-04 -1.85841853e-03  5.30567497e+00 -2.29873850e+00
  -2.15573911e+00  5.65135954e+00  5.26773181e+01  3.53122200e+01
   1.15079155e+02  5.23922724e+01  1.36238777e+01 -6.94898594e+00
   1.37954784e+00 -2.74155752e+00]
 [-1.20176319e-16  1.00000000e+00 -6.05765438e-15 -1.10687108e-13
  -1.02388475e-13 -1.40517094e-13  1.27871590e-13  2.98433474e-13
  -5.46467710e-14 -4.79667006e-13 -4.02676482e-14  3.33983600e-14
  -3.24936530e-13 -3.02094504e-14]
 [ 1.42466893e-17  3.46944695e-17  1.00000000e+00  1.47240372e-16
  -7.72617715e-16  1.20842379e-16 -8.02295208e-16  1.01537296e-15
  -6.47531277e-17  1.85192023e-15 -4.49010895e-16 -1.19617993e-17
   4.07568961e-16  1.40299149e-16]
 [ 2.35795840e-19 -8.13151629e-20 -1.04188864e-16  1.00000000e+00
  -5.68927546e-16  1.46835109e-16 -2.34976892e-16 -9.45162521e-17
   7.14917322e-17 -2.17345485e-16  2.05326709e-16 -3.09910792e-16
   9.04908943e-17  1.76842778e-17]
 [-1.90023227e-19  7.45388994e-20  7.58215190e-17 -1.63850799e-16
  -1.71544425e-16  1.00000000e+00 -2.70934625e-16 -3.98884008e-16
   1.76056249e-16  1.96003947e-16 -2.57380137e-16 -5.52413951e-16
   3.96835707e-17 -2.00325674e-17]]
The mse of the model is =  5718.214931343907
The root mse of the model is =  75.61887946368887
The mean absolute error of the model is =  22.555113522588808