In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn import linear_model as lm
from sklearn.model_selection import train_test_split


import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
df=pd.read_csv(r"C:\Users\pedro\Desktop\ironhack\LAB_costumer_analysis_round8\lab-customer-analysis-final-round\files_for_lab\csv_files\marketing_customer_analysis.csv")
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [3]:
def clean_data (dataframe):
    cols = [] 

    for i in range(len(dataframe.columns)):
        cols.append(dataframe.columns[i].lower().replace(' ','_'))
    dataframe.columns = cols

    for column in dataframe.columns:
        if dataframe[column].isnull().any():
            dataframe = dataframe.dropna(subset=[column])

    dataframe.drop_duplicates()

   
    return dataframe

#function to drop the null values dependending on a treshold

def drop_nulls(dataframe, threshold=0.10):
    
    # Calculate the percentage of null values in each column
    null_percentage = dataframe.isnull().mean(axis=0)

    # Calculate the total number of columns
    total_columns = dataframe.shape[1]

    # Iterate through each row and drop it if it has null values in columns with
    # a null percentage less than the threshold
    
    for index, row in dataframe.iterrows():
        
        null_columns = [col for col in dataframe.columns if pd.isna(row[col])]
        
        if len(null_columns) / total_columns < threshold:
            
            dataframe = dataframe.drop(index)

    return dataframe

# this function will detect the categorical features that have only 2 unique values and does one hot enconding. 
def one_hot_encode(df):
  
    for column in df:
        unique_values = df[column].unique()
        
        if len(unique_values) == 2:
            # Perform one-hot encoding for binary columns
            df = pd.get_dummies(df, columns=[column], drop_first=False, dtype=int)
              
    return df

def unique_counts(df):
    unique_counts_df = pd.DataFrame()  # Create an empty DataFrame to store the results

    for column in df:
        value_counts = df[column].value_counts().reset_index()
        unique_counts_df[column] = value_counts['index']
        unique_counts_df[column + '_count'] = value_counts[column]

    return unique_counts_df

def frequent_values(df, n=3, replace_value='other'):

    for column in df.columns:
        value_counts = df[column].value_counts()
        top_n_values = value_counts.index[:n]

        # Replace values not in the top n with 'other'
        df[column] = df[column].apply(lambda x: x if x in top_n_values else replace_value)

    return df

In [4]:
#call function to clean the data 
clean_data (df)
df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [5]:
#Call function to find null values with a 10% treshold and drop them if lower 

drop_nulls (df,threshold=0.10)
df.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [6]:
#Call function to hot enconding

df = one_hot_encode (df) 
df

,customer,state,customer_lifetime_value,coverage,education,effective_to_date,employmentstatus,income,location_code,marital_status,...,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,response_No,response_Yes,gender_F,gender_M
0,BU79786,Washington,2763.519279,Basic,Bachelor,2/24/11,Employed,56274,Suburban,Married,...,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,1,0,1,0
1,QZ44356,Arizona,6979.535903,Extended,Bachelor,1/31/11,Unemployed,0,Suburban,Single,...,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,1,0,1,0
2,AI49188,Nevada,12887.431650,Premium,Bachelor,2/19/11,Employed,48767,Suburban,Married,...,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,1,0,1,0
3,WW63253,California,7645.861827,Basic,Bachelor,1/20/11,Unemployed,0,Suburban,Married,...,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,1,0,0,1
4,HB64268,Washington,2813.692575,Basic,Bachelor,2/3/11,Employed,43836,Rural,Single,...,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,Basic,Bachelor,2/10/11,Employed,71941,Urban,Married,...,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize,1,0,0,1
9130,PK87824,California,3096.511217,Extended,College,2/12/11,Employed,21604,Suburban,Divorced,...,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize,0,1,1,0
9131,TD14365,California,8163.890428,Extended,Bachelor,2/6/11,Unemployed,0,Suburban,Single,...,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize,1,0,0,1
9132,UP19263,California,7524.442436,Extended,College,2/3/11,Employed,21941,Suburban,Married,...,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large,1,0,0,1
9133,Y167826,California,2611.836866,Extended,College,2/14/11,Unemployed,0,Suburban,Single,...,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize,1,0,0,1

In [7]:
# turn date to datetime format
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
df.dtypes

customer                                 object
state                                    object
customer_lifetime_value                 float64
coverage                                 object
education                                object
effective_to_date                datetime64[ns]
employmentstatus                         object
income                                    int64
location_code                            object
marital_status                           object
monthly_premium_auto                      int64
months_since_last_claim                   int64
months_since_policy_inception             int64
number_of_open_complaints                 int64
number_of_policies                        int64
policy_type                              object
policy                                   object
renew_offer_type                         object
sales_channel                            object
total_claim_amount                      float64
vehicle_class                            object
vehicle_size                             object
response_No                               int32
response_Yes                              int32
gender_F                                  int32
gender_M                                  int32
dtype: object

In [8]:

df['renew_offer_type'] = df['renew_offer_type'].replace({'Offer': ''}, regex=True).map(pd.eval).astype(int)
df

,customer,state,customer_lifetime_value,coverage,education,effective_to_date,employmentstatus,income,location_code,marital_status,...,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,response_No,response_Yes,gender_F,gender_M
0,BU79786,Washington,2763.519279,Basic,Bachelor,2011-02-24,Employed,56274,Suburban,Married,...,Corporate L3,1,Agent,384.811147,Two-Door Car,Medsize,1,0,1,0
1,QZ44356,Arizona,6979.535903,Extended,Bachelor,2011-01-31,Unemployed,0,Suburban,Single,...,Personal L3,3,Agent,1131.464935,Four-Door Car,Medsize,1,0,1,0
2,AI49188,Nevada,12887.431650,Premium,Bachelor,2011-02-19,Employed,48767,Suburban,Married,...,Personal L3,1,Agent,566.472247,Two-Door Car,Medsize,1,0,1,0
3,WW63253,California,7645.861827,Basic,Bachelor,2011-01-20,Unemployed,0,Suburban,Married,...,Corporate L2,1,Call Center,529.881344,SUV,Medsize,1,0,0,1
4,HB64268,Washington,2813.692575,Basic,Bachelor,2011-02-03,Employed,43836,Rural,Single,...,Personal L1,1,Agent,138.130879,Four-Door Car,Medsize,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,Basic,Bachelor,2011-02-10,Employed,71941,Urban,Married,...,Personal L1,2,Web,198.234764,Four-Door Car,Medsize,1,0,0,1
9130,PK87824,California,3096.511217,Extended,College,2011-02-12,Employed,21604,Suburban,Divorced,...,Corporate L3,1,Branch,379.200000,Four-Door Car,Medsize,0,1,1,0
9131,TD14365,California,8163.890428,Extended,Bachelor,2011-02-06,Unemployed,0,Suburban,Single,...,Corporate L2,1,Branch,790.784983,Four-Door Car,Medsize,1,0,0,1
9132,UP19263,California,7524.442436,Extended,College,2011-02-03,Employed,21941,Suburban,Married,...,Personal L2,3,Branch,691.200000,Four-Door Car,Large,1,0,0,1
9133,Y167826,California,2611.836866,Extended,College,2011-02-14,Unemployed,0,Suburban,Single,...,Corporate L3,4,Call Center,369.600000,Two-Door Car,Medsize,1,0,0,1

In [9]:
#Separate the columns into numerical and categorical 
numerical_df = df.select_dtypes(np.number)
categorical_df = df.select_dtypes(object)

In [10]:
numerical_df

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,renew_offer_type,total_claim_amount,response_No,response_Yes,gender_F,gender_M
0,2763.519279,56274,69,32,5,0,1,1,384.811147,1,0,1,0
1,6979.535903,0,94,13,42,0,8,3,1131.464935,1,0,1,0
2,12887.431650,48767,108,18,38,0,2,1,566.472247,1,0,1,0
3,7645.861827,0,106,18,65,0,7,1,529.881344,1,0,0,1
4,2813.692575,43836,73,12,44,0,1,1,138.130879,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,2,198.234764,1,0,0,1
9130,3096.511217,21604,79,14,28,0,1,1,379.200000,0,1,1,0
9131,8163.890428,0,85,9,37,3,2,1,790.784983,1,0,0,1
9132,7524.442436,21941,96,34,3,0,3,3,691.200000,1,0,0,1
9133,2611.836866,0,77,3,90,0,1,4,369.600000,1,0,0,1

In [11]:
# drop some columns that don't gice many info and will complicate the EDA of the data, 
categorical_df = categorical_df.drop(['customer'], axis=1)
categorical_df

,state,coverage,education,employmentstatus,location_code,marital_status,policy_type,policy,sales_channel,vehicle_class,vehicle_size
0,Washington,Basic,Bachelor,Employed,Suburban,Married,Corporate Auto,Corporate L3,Agent,Two-Door Car,Medsize
1,Arizona,Extended,Bachelor,Unemployed,Suburban,Single,Personal Auto,Personal L3,Agent,Four-Door Car,Medsize
2,Nevada,Premium,Bachelor,Employed,Suburban,Married,Personal Auto,Personal L3,Agent,Two-Door Car,Medsize
3,California,Basic,Bachelor,Unemployed,Suburban,Married,Corporate Auto,Corporate L2,Call Center,SUV,Medsize
4,Washington,Basic,Bachelor,Employed,Rural,Single,Personal Auto,Personal L1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...
9129,California,Basic,Bachelor,Employed,Urban,Married,Personal Auto,Personal L1,Web,Four-Door Car,Medsize
9130,California,Extended,College,Employed,Suburban,Divorced,Corporate Auto,Corporate L3,Branch,Four-Door Car,Medsize
9131,California,Extended,Bachelor,Unemployed,Suburban,Single,Corporate Auto,Corporate L2,Branch,Four-Door Car,Medsize
9132,California,Extended,College,Employed,Suburban,Married,Personal Auto,Personal L2,Branch,Four-Door Car,Large
9133,California,Extended,College,Unemployed,Suburban,Single,Corporate Auto,Corporate L3,Call Center,Two-Door Car,Medsize

In [12]:
#call the function to count all the unique values and sort tehm in descending order
unique_counts (categorical_df)

,state,state_count,coverage,coverage_count,education,education_count,employmentstatus,employmentstatus_count,location_code,location_code_count,...,policy_type,policy_type_count,policy,policy_count,sales_channel,sales_channel_count,vehicle_class,vehicle_class_count,vehicle_size,vehicle_size_count
0,California,3150,Basic,5568.0,Bachelor,2748,Employed,5698,Suburban,5779.0,...,Personal Auto,6788.0,Personal L3,3426,Agent,3477.0,Four-Door Car,4621,Medsize,6424.0
1,Oregon,2601,Extended,2742.0,College,2681,Unemployed,2317,Rural,1773.0,...,Corporate Auto,1968.0,Personal L2,2122,Branch,2567.0,Two-Door Car,1886,Small,1764.0
2,Arizona,1703,Premium,824.0,High School or Below,2622,Medical Leave,432,Urban,1582.0,...,Special Auto,378.0,Personal L1,1240,Call Center,1765.0,SUV,1796,Large,946.0
3,Nevada,882,NaN,NaN,Master,741,Disabled,405,NaN,NaN,...,NaN,NaN,Corporate L3,1014,Web,1325.0,Sports Car,484,NaN,NaN
4,Washington,798,NaN,NaN,Doctor,342,Retired,282,NaN,NaN,...,NaN,NaN,Corporate L2,595,NaN,NaN,Luxury SUV,184,NaN,NaN

In [13]:
#after viualize the the unique_counts values i decided to keep the first 3 values of each feature and to the others i changed to othes 
frequent_values(categorical_df, n=3, replace_value='other')

,state,coverage,education,employmentstatus,location_code,marital_status,policy_type,policy,sales_channel,vehicle_class,vehicle_size
0,other,Basic,Bachelor,Employed,Suburban,Married,Corporate Auto,other,Agent,Two-Door Car,Medsize
1,Arizona,Extended,Bachelor,Unemployed,Suburban,Single,Personal Auto,Personal L3,Agent,Four-Door Car,Medsize
2,other,Premium,Bachelor,Employed,Suburban,Married,Personal Auto,Personal L3,Agent,Two-Door Car,Medsize
3,California,Basic,Bachelor,Unemployed,Suburban,Married,Corporate Auto,other,Call Center,SUV,Medsize
4,other,Basic,Bachelor,Employed,Rural,Single,Personal Auto,Personal L1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...
9129,California,Basic,Bachelor,Employed,Urban,Married,Personal Auto,Personal L1,other,Four-Door Car,Medsize
9130,California,Extended,College,Employed,Suburban,Divorced,Corporate Auto,other,Branch,Four-Door Car,Medsize
9131,California,Extended,Bachelor,Unemployed,Suburban,Single,Corporate Auto,other,Branch,Four-Door Car,Medsize
9132,California,Extended,College,Employed,Suburban,Married,Personal Auto,Personal L2,Branch,Four-Door Car,Large
9133,California,Extended,College,Unemployed,Suburban,Single,Corporate Auto,other,Call Center,Two-Door Car,Medsize

In [14]:
numerical_df

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,renew_offer_type,total_claim_amount,response_No,response_Yes,gender_F,gender_M
0,2763.519279,56274,69,32,5,0,1,1,384.811147,1,0,1,0
1,6979.535903,0,94,13,42,0,8,3,1131.464935,1,0,1,0
2,12887.431650,48767,108,18,38,0,2,1,566.472247,1,0,1,0
3,7645.861827,0,106,18,65,0,7,1,529.881344,1,0,0,1
4,2813.692575,43836,73,12,44,0,1,1,138.130879,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,2,198.234764,1,0,0,1
9130,3096.511217,21604,79,14,28,0,1,1,379.200000,0,1,1,0
9131,8163.890428,0,85,9,37,3,2,1,790.784983,1,0,0,1
9132,7524.442436,21941,96,34,3,0,3,3,691.200000,1,0,0,1
9133,2611.836866,0,77,3,90,0,1,4,369.600000,1,0,0,1

In [15]:
# Regression: do a X,y split, open the model 
import statsmodels.api as sm
from statsmodels.formula.api import ols

#x, y split
Y = numerical_df['total_claim_amount']
X = numerical_df.drop(['total_claim_amount'], axis=1)

X = sm.add_constant(X)
model = sm.OLS(Y,X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.523
Model:                            OLS   Adj. R-squared:                  0.523
Method:                 Least Squares   F-statistic:                     1002.
Date:                Wed, 08 Nov 2023   Prob (F-statistic):               0.00
Time:                        18:21:00   Log-Likelihood:                -61381.
No. Observations:                9134   AIC:                         1.228e+05
Df Residuals:                    9123   BIC:                         1.229e+05
Df Model:                          10
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                            37.9422      5.032      7.540      0.000      28.079      47.806
customer_lifetime_value          -0.0006      0.000     -1.816      0.069      -0.001    4.83e-05
income                           -0.0033      7e-05    -47.037      0.000      -0.003      -0.003
monthly_premium_auto              5.3357      0.067     80.121      0.000       5.205       5.466
months_since_last_claim          -0.1867      0.209     -0.894      0.371      -0.596       0.223
months_since_policy_inception    -0.1032      0.076     -1.364      0.173      -0.252       0.045
number_of_open_complaints        -1.2103      2.310     -0.524      0.600      -5.739       3.318
number_of_policies                0.1809      0.883      0.205      0.838      -1.550       1.911
renew_offer_type                  0.9389      2.165      0.434      0.664      -3.304       5.182
response_No                      13.1336      3.688      3.561      0.000       5.905      20.363
response_Yes                     24.8085      4.194      5.915      0.000      16.587      33.030
gender_F                         -0.3922      3.217     -0.122      0.903      -6.699       5.914
gender_M                         38.3344      3.342     11.471      0.000      31.784      44.885
==============================================================================
Omnibus:                      998.407   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6317.504
Skew:                           0.326   Prob(JB):                         0.00
Kurtosis:                       7.022   Cond. No.                     7.23e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.17e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [16]:
# to a train and test split and train the model 
from scipy import stats

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

lm = linear_model.LinearRegression()
model = lm.fit(X,Y)
lm.score(X,Y)

0.5233213779091735

In [17]:
#make predictions 
predictions = lm.predict(X_test)

print("R2 value is = ",round(r2_score(y_test, predictions),2))

mse = mean_squared_error(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
print("The mse of the model is = ",mse)
print("The root mse of the model is = ",np.sqrt(mse))
print("The mean absolute error of the model is = ",mae)

R2 value is =  0.5
The mse of the model is =  39698.28616937391
The root mse of the model is =  199.24428767062284
The mean absolute error of the model is =  144.694961762705

In [20]:
# i will try to get dummies with the variables on categorical values 
categorical_df = pd.get_dummies(categorical_df, drop_first=False, dtype=int)
categorical_df

,state_Arizona,state_California,state_Oregon,state_other,coverage_Basic,coverage_Extended,coverage_Premium,education_Bachelor,education_College,education_High School or Below,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_other,vehicle_class_Four-Door Car,vehicle_class_SUV,vehicle_class_Two-Door Car,vehicle_class_other,vehicle_size_Large,vehicle_size_Medsize,vehicle_size_Small
0,0,0,0,1,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
1,1,0,0,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,0,0,1,0,0,1,1,0,0,...,0,0,0,0,0,1,0,0,1,0
3,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
4,0,0,0,1,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0,1,0,0,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,1,0
9130,0,1,0,0,0,1,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
9131,0,1,0,0,0,1,0,1,0,0,...,1,0,0,1,0,0,0,0,1,0
9132,0,1,0,0,0,1,0,0,1,0,...,1,0,0,1,0,0,0,1,0,0
9133,0,1,0,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [26]:
#concat the categorical and numerical data frames
df_final =pd.concat([numerical_df, categorical_df], axis = 1)
df_final

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,renew_offer_type,total_claim_amount,response_No,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_other,vehicle_class_Four-Door Car,vehicle_class_SUV,vehicle_class_Two-Door Car,vehicle_class_other,vehicle_size_Large,vehicle_size_Medsize,vehicle_size_Small
0,2763.519279,56274,69,32,5,0,1,1,384.811147,1,...,0,0,0,0,0,1,0,0,1,0
1,6979.535903,0,94,13,42,0,8,3,1131.464935,1,...,0,0,0,1,0,0,0,0,1,0
2,12887.431650,48767,108,18,38,0,2,1,566.472247,1,...,0,0,0,0,0,1,0,0,1,0
3,7645.861827,0,106,18,65,0,7,1,529.881344,1,...,0,1,0,0,1,0,0,0,1,0
4,2813.692575,43836,73,12,44,0,1,1,138.130879,1,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,2,198.234764,1,...,0,0,1,1,0,0,0,0,1,0
9130,3096.511217,21604,79,14,28,0,1,1,379.200000,0,...,1,0,0,1,0,0,0,0,1,0
9131,8163.890428,0,85,9,37,3,2,1,790.784983,1,...,1,0,0,1,0,0,0,0,1,0
9132,7524.442436,21941,96,34,3,0,3,3,691.200000,1,...,1,0,0,1,0,0,0,1,0,0
9133,2611.836866,0,77,3,90,0,1,4,369.600000,1,...,0,1,0,0,0,1,0,0,1,0

In [27]:
# Regression: do a X,y split, open the model 
import statsmodels.api as sm
from statsmodels.formula.api import ols

#x, y split
Y = df_final['total_claim_amount']
X = df_final.drop(['total_claim_amount'], axis=1)

X = sm.add_constant(X)
model = sm.OLS(Y,X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.772
Model:                            OLS   Adj. R-squared:                  0.771
Method:                 Least Squares   F-statistic:                     831.0
Date:                Wed, 08 Nov 2023   Prob (F-statistic):               0.00
Time:                        18:28:12   Log-Likelihood:                -58019.
No. Observations:                9134   AIC:                         1.161e+05
Df Residuals:                    9096   BIC:                         1.164e+05
Df Model:                          37
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                            -31.3938      2.578    -12.176      0.000     -36.448     -26.340
customer_lifetime_value           -0.0002      0.000     -0.653      0.514      -0.001       0.000
income                            -0.0002   8.53e-05     -2.861      0.004      -0.000   -7.68e-05
monthly_premium_auto               5.5127      0.100     54.989      0.000       5.316       5.709
months_since_last_claim            0.2705      0.145      1.864      0.062      -0.014       0.555
months_since_policy_inception     -0.0098      0.053     -0.186      0.853      -0.113       0.093
number_of_open_complaints         -1.9851      1.604     -1.238      0.216      -5.130       1.159
number_of_policies                 0.5191      0.614      0.846      0.398      -0.684       1.722
renew_offer_type                   3.6634      1.538      2.382      0.017       0.649       6.678
response_No                       -5.5600      2.487     -2.236      0.025     -10.435      -0.685
response_Yes                     -25.8339      2.612     -9.889      0.000     -30.955     -20.713
gender_F                         -22.8043      1.921    -11.868      0.000     -26.571     -19.038
gender_M                          -8.5895      1.986     -4.324      0.000     -12.483      -4.696
state_Arizona                     -9.3454      2.902     -3.221      0.001     -15.033      -3.657
state_California                  -6.2468      2.390     -2.613      0.009     -10.932      -1.561
state_Oregon                     -10.9115      2.530     -4.312      0.000     -15.872      -5.951
state_other                       -4.8902      2.927     -1.671      0.095     -10.627       0.847
coverage_Basic                     5.7113      2.716      2.103      0.036       0.387      11.036
coverage_Extended                -15.7136      2.533     -6.205      0.000     -20.678     -10.749
coverage_Premium                 -21.3915      4.840     -4.420      0.000     -30.879     -11.904
education_Bachelor                -6.3489      2.539     -2.500      0.012     -11.327      -1.371
education_College                -12.5840      2.540     -4.955      0.000     -17.563      -7.605
education_High School or Below     5.3678      2.610      2.057      0.040       0.252      10.484
education_other                  -17.8288      3.512     -5.076      0.000     -24.713     -10.944
employmentstatus_Employed        -33.0183      3.917     -8.430      0.000     -40.696     -25.340
employmentstatus_Medical Leave   -10.4638      5.382     -1.944      0.052     -21.015       0.087
employmentstatus_Unemployed       39.7188      3.836     10.354      0.000      32.199      47.239
employmentstatus_other           -27.6306      4.579     -6.035      0.000     -36.606     -18.656
location_code_Rural             -210.0571      2.833    -74.150      0.000    -215.610    -204.504
location_code_Suburban           168.2739      2.442     68.913      0.000     163.487     173.060
location_code_Urban               10.3893      2.923      3.554      0.000       4.660      16.119
marital_status_Divorced          -29.4530      2.987     -9.860      0.000     -35.309     -23.597
marital_status_Married           -35.2633      2.239    -15.749      0.000     -39.652     -30.874
marital_status_Single             33.3224      2.690     12.387      0.000      28.049      38.595
policy_type_Corporate Auto       -13.3507      3.510     -3.803      0.000     -20.232      -6.470
policy_type_Personal Auto        -17.9483      1.965     -9.134      0.000     -21.800     -14.097
policy_type_Special Auto          -0.0948      4.512     -0.021      0.983      -8.939       8.750
policy_Personal L1                -1.3460      3.095     -0.435      0.664      -7.413       4.721
policy_Personal L2                -8.2144      2.595     -3.165      0.002     -13.302      -3.127
policy_Personal L3                -8.3879      2.303     -3.642      0.000     -12.902      -3.874
policy_other                     -13.4455      2.022     -6.649      0.000     -17.410      -9.481
sales_channel_Agent               -8.9770      2.355     -3.812      0.000     -13.593      -4.361
sales_channel_Branch              -6.7331      2.562     -2.628      0.009     -11.756      -1.710
sales_channel_Call Center         -9.6874      2.912     -3.327      0.001     -15.395      -3.980
sales_channel_other               -5.9963      3.233     -1.855      0.064     -12.334       0.341
vehicle_class_Four-Door Car        9.4544      3.393      2.787      0.005       2.804      16.105
vehicle_class_SUV                -21.6232      3.413     -6.335      0.000     -28.314     -14.932
vehicle_class_Two-Door Car         9.6291      3.834      2.512      0.012       2.114      17.144
vehicle_class_other              -28.8542      6.735     -4.285      0.000     -42.055     -15.653
vehicle_size_Large                -8.0915      3.423     -2.364      0.018     -14.800      -1.382
vehicle_size_Medsize             -16.0594      2.283     -7.034      0.000     -20.535     -11.584
vehicle_size_Small                -7.2430      2.960     -2.447      0.014     -13.045      -1.441
==============================================================================
Omnibus:                     4112.134   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            55631.145
Skew:                           1.799   Prob(JB):                         0.00
Kurtosis:                      14.543   Cond. No.                     3.90e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.43e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [28]:
# to a train and test split and train the model 
from scipy import stats

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

lm = linear_model.LinearRegression()
model = lm.fit(X,Y)
lm.score(X,Y)

0.7717029488976855

In [29]:
predictions = lm.predict(X_test)

print("R2 value is = ",round(r2_score(y_test, predictions),2))

mse = mean_squared_error(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
print("The mse of the model is = ",mse)
print("The root mse of the model is = ",np.sqrt(mse))
print("The mean absolute error of the model is = ",mae)

R2 value is =  0.77
The mse of the model is =  18543.847719267553
The root mse of the model is =  136.1757971126571
The mean absolute error of the model is =  93.90840495848586

In [ ]:
#with the one hot encodongi of all the categorical features i could lower the mean absolut error andthe r2 is higher as well